/node_modules
/public/hot
/public/storage
/public/advertisement
/public/blog
/public/school_result
/public/announcement
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
